source/Galac.Saw.Wrp.Crm/Service References/CRMServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dcrm00:20002/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dcrm00:20002/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ActualizarFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarFactura" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AnularFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:AnularFactura" />
  </wsdl:message>
  <wsdl:message name="IService1_AnularFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnularFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarDeuda_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDeuda" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarDeuda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDeudaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ActualizarFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarFactura" message="tns:IService1_ActualizarFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarFacturaResponse" message="tns:IService1_ActualizarFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnularFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AnularFactura" message="tns:IService1_AnularFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AnularFacturaResponse" message="tns:IService1_AnularFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDeuda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarDeuda" message="tns:IService1_ActualizarDeuda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarDeudaResponse" message="tns:IService1_ActualizarDeuda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpEndpoint" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarFactura">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularFactura">
      <soap:operation soapAction="http://tempuri.org/IService1/AnularFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDeuda">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarDeuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpEndpoint" binding="tns:BasicHttpEndpoint">
      <soap:address location="http://dcrm00:20002/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>